@{
    Layout = "_NavMesaControl";
}
<section class="">
    <div class="row">
      <div class="col-12">
        <div class="message-user">
                <div class="name-user">Bienvenid&#64; Carlos</div>
          <div class="message-default">
            Es un gusto tenerte de vuelta, aquí tienes un resumen...
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-12 col-xl-8 bg-gray-default">
        <div class="btn-option">
          <div class="message-btn-option">
            <h5>¿Qué deseas hacer?</h5>
          </div>

          <div class="btn-option-cards mt-2  d-flex justify-content-center">
            <div class="col-3 option-card bg-card-1" id="btnOnboarding">
              <div class="card-notification">1 NUEVOS</div>
              <div class="title">Inventario de producto</div>
            </div>
            <div class="col-3 option-card bg-card-2" id="btnVenta">
              <div class="card-notification">1 NUEVOS</div>
              <div class="title">Venta</div>
            </div>
            <div class="col-3 option-card bg-card-3" id="btnEntrega">
              <div class="card-notification">1 NUEVOS</div>
              <div class="title">Entrega</div>
            </div>
           
          </div>
        </div>
        <div class="data-table active border" id="tblOnboarding">
          <div class="message-btn-option">
            Propiedades pendientes de publicar:
            <p>&nbsp 10</p>
          </div>
          <br />
          <!-- <div class="message-default">
                    Aquí viven los leads que se encuentran en una etapa de seguimiento.
                </div> -->
                <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive mt-2 ">
          <table class="table table-hover">
            <tr>
              <th style="border-radius: 5px 0px 0px 0px">Fecha</th>
              <th>Propiedad</th>
              <th>Tipo</th>
              <th>Estatus</th>
            </tr>
            <tr>
              <td>03/10/2022</td>
              <td>Coyoacán 15</td>
              <td>Documento</td>
              <td>
                <p class="bg-status-green">Enviado</p>
              </td>
            </tr>
            <tr>
              <td>04/10/2022</td>
              <td>Coyoacán 16</td>
              <td>Contrato de intermediación</td>
              <td>
                <p class="bg-status-red">Rechazado</p>
              </td>
             
            </tr>
            <tr>
              <td>09/10/2022</td>
              <td>Coyoacán 17</td>
              <td>Documento</td>
              <td>
                <p class="bg-status-green">Enviado</p>
              </td>
            
            </tr>
            <tr>
              <td>06/10/2022</td>
              <td>Coyoacán 18</td>
              <td>Contrato de intermediación</td>
              <td>
               <p class="bg-status-red">Rechazado</p>
              </td>
            </tr>
          </table>
        </div>
          <div class="view-all mt-3">
                    <nav aria-label="" class="mt-4">
                        <ul class="pagination justify-content-lg-center justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link me-1" href="#" tabindex="-1" aria-disabled="true">Regresar</a>
                            </li>
                            <li class="page-item active me-1" aria-current="page"><a class="page-link" href="#">1</a></li>
                            <li class="page-item me-1">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item me-1"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Siguiente</a>
                            </li>
                        </ul>
                    </nav>
          </div>
        </div>
        <div class="data-table" id="tblVenta">
          <div class="message-btn-option">
            Venta nuevos:
            <p>&nbsp; 5</p>
          </div>
          <br />
          <!-- <div class="message-default">
                    Aquí viven los leads que se encuentran en una etapa de seguimiento.
                </div> -->
                <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive mt-2 " >
                    <table class="table table-hover">
            <tr>
              <th style="border-radius: 5px 0px 0px 0px">Fecha</th>
              <th>Nombre</th>
              <th>Propiedad</th>
              <th>Visita</th>
              <th>Estatus</th>
            </tr>
            <tr>
              <td>03/10/2022</td>
              <td>Ricardo Estreda</td>
              <td>Coyoacán 15</td>
              <td>21/07/2022</td>
              <td>
                <p class="bg-status-yellow">Proceso de visita</p>
              </td>
            </tr>
            <tr>
            <td>03/10/2022</td>
              <td>Omar González</td>
              <td>Coyoacán 15</td>
              <td>21/07/2022</td>
              <td>
                <p class="bg-status-yellow">Proceso de visita</p>
              </td>
            </tr>
                        <tr>
                            <td>03/10/2022</td>
                            <td>Juan Barerra</td>
                            <td>Coyoacán 19</td>
                            <td>30/09/2022</td>
                            <td>
                                <p class="bg-status-yellow">Proceso de visita</p>
                            </td>
                        </tr>

          </table>
        </div>

          <div class="view-all mt-3">
                    <nav aria-label="" class="mt-4">
                        <ul class="pagination justify-content-lg-center justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link me-1" href="#" tabindex="-1" aria-disabled="true">Regresar</a>
                            </li>
                            <li class="page-item active me-1" aria-current="page"><a class="page-link" href="#">1</a></li>
                            <li class="page-item me-1">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item me-1"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Siguiente</a>
                            </li>
                        </ul>
                    </nav>
          </div>
        </div>
        <div class="data-table" id="tblEntrega">
          <div class="message-btn-option">
            Entrega nuevos:
            <p>&nbsp; 5</p>
          </div>
          <br />
          <!-- <div class="message-default">
                    Aquí viven los leads que se encuentran en una etapa de seguimiento.
                </div> -->
                <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive mt-2" >
                    <table class="table table-hover">
            <tr>
              <th style="border-radius: 5px 0px 0px 0px">Fecha</th>
              <th>Nombre</th>
              <th>Propiedad</th>
              <th>Visita</th>
              <th>Etapa</th>
            </tr>
            <tr>
              <td>07/11/2022</td>
              <td>Miguel Bernal</td>
              <td>Coyoacán 15</td>
              <td>20/07/08</td>
              <td><p class="bg-etapa-notaria">Notaria</p></td>
            </tr>
             <tr>
              <td>09/11/2022</td>
              <td>Julia Cervantes</td>
              <td>Coyoacán 15</td>
              <td>24/09/09</td>
              <td><p class="bg-etapa-transferencia">Transferencia</p></td>
            </tr>
              <tr>
              <td>13/11/2022</td>
              <td>Mario Varela</td>
              <td>Coyoacán 16</td>
              <td>2/10/08</td>
              <td><p class="bg-etapa-contrato-promesa">Contrato promesa</p></td>
            </tr>
             <tr>
              <td>22/11/2022</td>
              <td>Marco Verratti</td>
              <td>Coyoacán 16</td>
              <td>10/05/08</td>
              <td><p class="bg-etapa-entrega">Entrega</p></td>
            </tr>

          </table>
        </div>
          <div class="view-all mt-3">
                    <nav aria-label="" class="mt-4">
                        <ul class="pagination justify-content-lg-center justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link me-1" href="#" tabindex="-1" aria-disabled="true">Regresar</a>
                            </li>
                            <li class="page-item active me-1" aria-current="page"><a class="page-link" href="#">1</a></li>
                            <li class="page-item me-1">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item me-1"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Siguiente</a>
                            </li>
                        </ul>
                    </nav>
          </div>
        </div>
        <div class="data-table" id="tblPostventa">
          <div class="message-btn-option">
            Post Venta nuevos:
            <p>&nbsp; 5</p>
          </div>
          <br />
          <!-- <div class="message-default">
                    Aquí viven los leads que se encuentran en una etapa de seguimiento.
                </div> -->
                <div class=" table-responsive mt-2" >
                    <table>
            <tr>
              <th style="border-radius: 5px 0px 0px 0px">Fecha</th>
              <th>Nombre</th>
              <th>Correo</th>
              <th>Teléfono</th>
              <th>Propiedad</th>
              <th>Bróker</th>
              <th>Visita</th>
              <th>Estatus</th>
              <th style="border-radius: 0px 5px 0px 0px">Acciones</th>
            </tr>
            <tr>
              <td>03/10/2022</td>
              <td>Paola Sánchez</td>
              <td>paola.1@gmail.com</td>
              <td>5533553355</td>
              <td>Real del encanto</td>
              <td>Héctor Guajardo</td>
              <td> - </td>
              <td>
                <p class="bg-status-pink">Informes</p>
              </td>
              <td><a href="#" class="btn-vermas"><ion-icon name="ellipsis-horizontal-circle" class="size-mp-icons-vermas position-icon"></ion-icon></a></td>
            </tr>
            <tr>
              <td>03/10/2022</td>
              <td>Paola Sánchez</td>
              <td>paola.1@gmail.com</td>
              <td>5533553355</td>
              <td>Real del encanto</td>
              <td>Héctor Guajardo</td>
              <td> - </td>
              <td>
                <p class="bg-status-pink">Informes</p>
              </td>
              <td><a href="#" class="btn-vermas"><ion-icon name="ellipsis-horizontal-circle" class="size-mp-icons-vermas position-icon"></ion-icon></a></td>
            </tr>
            <tr>
              <td>03/10/2022</td>
              <td>Paola Sánchez</td>
              <td>paola.1@gmail.com</td>
              <td>5533553355</td>
              <td>Real del encanto</td>
              <td>Héctor Guajardo</td>
              <td> - </td>
              <td>
                <p class="bg-status-pink">Informes</p>
              </td>
              <td><a href="#" class="btn-vermas"><ion-icon name="ellipsis-horizontal-circle" class="size-mp-icons-vermas position-icon"></ion-icon></a></td>
            </tr>

          </table>
        </div>
          <div class="view-all mt-3">
                    <nav aria-label="" class="mt-4">
                        <ul class="pagination justify-content-lg-center justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link me-1" href="#" tabindex="-1" aria-disabled="true">Regresar</a>
                            </li>
                            <li class="page-item active me-1" aria-current="page"><a class="page-link" href="#">1</a></li>
                            <li class="page-item me-1">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item me-1"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Siguiente</a>
                            </li>
                        </ul>
                    </nav>
          </div>
        </div>
      </div>
      <div class="col col-md-12 col-lg-12 col-xl-4 bg-gray-default ">
        <div class="more-options d-cards ">
          <div class="col-3 col-md-4 col-lg-4 col-xl-12">
                    <div class="calendar scrollhost">
             <div class="calendarioo" id="calendar"></div>
            </div>
          </div>
          <div class="col col-md-4 col-lg-4 col-xl-12 ">
            <div class="activities">
              <div class="title-activities">Actividades para hoy</div>
              <div class="content-activities">
                <div class="list-activities bg-activity-3">
                  <div class="col-8 info-general">
                    <div class="title-activity">
                      Propiedad: Coyoacán 10, CDMX
                    </div>
                     <div>Cliente: Alexandra Vega</div>
                  </div>
                  <div class="col-4 info-time">
                    <div class="type-activitie">Visita</div>
                    <div class="hour-activitie">13:00 am</div>
                  </div>
                </div>
                <div class="list-activities bg-activity-5">
                  <div class="col-8 info-general">
                    <div class="title-activity">
                      Propiedad: Polanco 11, 11600 CDMX
                    </div>
                    <div>Tipo: Llamada</div>
                  </div>
                  <div class="col-4 info-time">
                    <div class="type-activitie">Seguimiento</div>
                    <div class="hour-activitie">10:00 am</div>
                  </div>
                </div>
                <div class="list-activities bg-activity-4">
                  <div class="col-8 info-general">
                    <div class="title-activity">
                      Asesoria: Legal 
                    </div>
                   <div>Leer: Escritura</div>
                  </div>
                  <div class="col-4 info-time">
                    <div class="type-activity">Asesoria</div>
                    <div class="hour-activity">11:00 am</div>
                  </div>
                </div>
                <div class="view-all mt-1">
                    
                </div>
              </div>
            </div>
            </div>
          <div class="col col-md-4 col-lg-4 col-xl-12">
            <div class="enterate">
              <div class="title-enterate">Entérate</div>
              <div class="img-enterate">
                            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="~/img/imagenes-mesa-de-control/enterate.png" alt="" class="img-fluid d-block size-image rounded w-100" />

                                    </div>
                                    <div class="carousel-item">
                                        <img src="~/img/imagenes-mesa-de-control/enterate2.jpg" alt="" class="img-fluid d-block size-image rounded  w-100" />
                                    </div>
                                    <div class="carousel-item">
                                        <img src="~/img/imagenes-mesa-de-control/enterate3.jpg" alt="" class="img-fluid d-block size-image rounded w-100" />
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>