@{
    Layout = "_NavUsuarios";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Proyecto_administracion</title>
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/imagen-logo/logo_oficial.png">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/styles-tablero-contact-center.css">
    <script src="https://kit.fontawesome.com/e43b4d35fb.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
    <script src="~/js/locales-all.js"></script>

    <title>Detalle Propiedad</title>
</head>


<section class="mt-5">
    <div class="row">
      <div class="col-12">
        <div class="message-user">
                <div class="name-user">Bienvenid&#64; Arizbeth</div>
          <div class="message-default">
            Es un gusto tenerte de vuelta, aquí tienes un resumen...
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-12 col-xl-8 bg-gray-default">
        <div class="btn-option">
          
          <div class="message-default">
            <h5>¿Qué deseas hacer?</h5>  
          </div>
          <div class="btn-option-cards  mt-2 d-flex justify-content-center">
                    <button class="col-3 border-0 active2 option-card  bg-card-1" id="btnOnboarding">
              <div class="card-notification">1 Nuevo</div>
              <div class="title">On boarding broker</div>
            </button>
            <button class="col-3 option-card border-0 bg-card-2" id="btnVenta">
              <div class="card-notification">1 Nuevo</div>
                        <div class="title">Inventario de producto</div>
            </button>
            <button class="col-3 option-card border-0 bg-card-3" id="btnEntrega">
              <div class="card-notification">3 Nuevo</div>
              <div class="title">Entrega</div>
            </button>
           
          </div>
        </div>
        <div class="data-table active border" id="tblOnboarding">
          <div class="message-btn-option">
                    <h5>Pagos de planes:</h5>
                    <p>&nbsp 100</p>
          </div>
          <br />
          <!-- <div class="message-default">
                    Aquí viven los leads que se encuentran en una etapa de seguimiento.
                </div> -->
                <div class=" table-responsive mt-2  " style="overflow-x:hidden;">
                    <table class="table table-hover">

            <tr>
              <th style="border-radius: 5px 0px 0px 0px">Fecha</th>
              <th>Broker</th>
              <th>Plan</th>
              <th>Cantidad</th>
              <th>Estatus</th>
              <th style="border-radius: 0px 5px 0px 0px">Acciones</th>
            </tr>
            <tr>
              <td>03/10/2022</td>
              <td>Paola Sánchez</td>
              <td>Ultimate</td>
              <td>$ 5000</td>
              <td>
                <p class="bg-status-purple">Recibido</p>
              </td>
                            <td><button class="bg-status-blue-btns-gnrl btn">Liberar</button></td>
            </tr>
            <tr>
              <td>04/10/2022</td>
              <td>Erika Núñez</td>
              <td>Basic</td>
              <td>$ 5000</td>
             
              <td>
                <p class="bg-status-purple">Recibido</p>
              </td>
                            <td><button class="bg-status-blue-btns-gnrl btn">Liberar</button></td>
            </tr>
            <tr>
              <td>05/10/2022</td>
              <td>Arizbeth Padilla</td>
              <td>Premium</td>
              <td>$ 5000</td>
              <td>
                <p class="bg-status-purple">Recibido</p>
              </td>
              <td><button class="bg-status-blue-btns-gnrl btn">Liberar</button></td>
            </tr>
            <tr>
              <td>06/10/2022</td>
              <td>Shantal Iniestra</td>
              <td>Ultimate</td>
              <td>$ 5000</td>
              <td>
                <p class="bg-status-purple">Recibido</p>
              </td>
                            <td><button class="bg-status-blue-btns-gnrl btn">Liberar</button></td>
            </tr>
          </table>
        </div>
                <nav aria-label="" class="mt-4">
                    <ul class="pagination justify-content-lg-center justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link me-1" href="#" tabindex="-1" aria-disabled="true">Regresar</a>
                        </li>
                        <li class="page-item active me-1" aria-current="page"><a class="page-link" href="#">1</a></li>
                        <li class="page-item me-1">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item me-1"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Siguiente</a>
                        </li>
                    </ul>
                </nav>
          <hr />
                <div class=" table-responsive mt-3" style="overflow-x:hidden; overflow-y:hidden;">
                    <div class="message-btn-option  d-flex mb-3">
                        <h5>Documentos broker:</h5>
                        <p>&nbsp 20</p>
                    </div>
                    <table class="table table-hover">
                        <tr>
                            <th style="border-radius: 5px 0px 0px 0px">Fecha</th>
                            <th>Documento</th>
                            <th>Nombre</th>
                            <th>Estatus</th>
                            <th style="border-radius: 0px 5px 0px 0px">Acciones</th>
                        </tr>
                        <tr>
                            <td>03/10/2022</td>
                            <td>Credencial de elector</td>
                            <td>Paola Sánchez</td>
                            <td>
                                
                                    <p class="bg-status-yellow d-none">En proceso</p>
                                    <p class="bg-status-green">Aprobado</p>
                               
                            </td>
                            <td> <a class=" btn-vermas" asp-controller="Administracion" asp-action="LeadBrokerTab"><ion-icon name="ellipsis-horizontal-circle" class="size-mp-icons-vermas position-icon"></ion-icon></a></td>
                        </tr>
                        <tr>
                            <td>04/10/2022</td>
                            <td>Pack documentos</td>
                            <td>Erika Nuñez</td>

                            <td>
                                
                                   
                                    <p class="bg-status-yellow">En proceso</p>
                               
                                    <p class="bg-status-green d-none">Aprobado</p>
                                                          </td>
                            <td><a href="#" class="btn-vermas"><ion-icon name="ellipsis-horizontal-circle" class="size-mp-icons-vermas position-icon"></ion-icon></a></td>
                        </tr>
                        <tr>
                            <td>05/10/2022</td>
                            <td>Comprobante de domicilio</td>
                            <td>Arizbeth Padilla</td>
                            <td>
                               
                                   
                                    <p class="bg-status-yellow">En proceso</p>
                                
                                   
                                    <p class="bg-status-green d-none">Aprobado</p>
                                
                            </td>
                            <td><a href="#" class="btn-vermas"><ion-icon name="ellipsis-horizontal-circle" class="size-mp-icons-vermas position-icon"></ion-icon></a></td>
                        </tr>
                        <tr>
                            <td>06/10/2022</td>
                            <td>Pack documentos</td>
                            <td>Shantal Iniestra</td>
                            <td>
                                
                                  
                                    <p class="bg-status-yellow">En proceso</p>
                               <div class="fileContainer3 d-none input-group me-4">
                                   
                                    <h6 class="font-size-visualizador">Aprobado</h6>
                                </div> 
                            </td>
                            <td><a href="#" class="btn-vermas"><ion-icon name="ellipsis-horizontal-circle" class="size-mp-icons-vermas position-icon"></ion-icon></a></td>
                        </tr>
                    </table>
                </div>
                <nav aria-label="" class="mt-4">
                    <ul class="pagination justify-content-lg-center justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link me-1" href="#" tabindex="-1" aria-disabled="true">Regresar</a>
                        </li>
                        <li class="page-item active me-1" aria-current="page"><a class="page-link" href="#">1</a></li>
                        <li class="page-item me-1">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item me-1"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Siguiente</a>
                        </li>
                    </ul>
                </nav>
                <hr />
                <div class=" table-responsive mt-3" style="overflow-x:hidden;">
                    <div class="message-btn-option d-flex mb-3">
                        <h5>Contrato de servicios:</h5>
                        <p>&nbsp 13</p>
                    </div>
                    <table class="table table-hover">
                        <tr>
                            <th style="border-radius: 5px 0px 0px 0px">Fecha</th>
                            <th>Nombre</th>
                            <th>Tarea</th>
                            <th>Estatus</th>
                            <th style="border-radius: 0px 5px 0px 0px">Acciones</th>
                        </tr>
                        <tr>
                            <td>03/10/2022</td>
                            <td>Paola Sánchez</td>
                            <td>Solicitar contrato de servicios</td>
                            <td>
                                <p class="bg-status-blue">Pendiente</p>
                            </td>
                            <td><button class="bg-status-blue-btns-gnrl btn">Solicitar</button></td>
                        </tr>
                        <tr>
                            <td>04/10/2022</td>
                            <td>Erika Nuñez</td>
                            <td>Solicitar contrato de servicios</td>

                            <td>
                                <p class="bg-status-blue">Pendiente</p>
                            </td>
                            <td><button class="bg-status-blue-btns-gnrl btn">Solicitar</button></td>
                        </tr>
                        <tr>
                            <td>05/10/2022</td>
                            <td>Arizbeth Padilla</td>
                            <td>Solicitar contrato de servicios</td>
                            <td>
                                <p class="bg-status-blue">Pendiente</p>
                            </td>
                            <td><button class="bg-status-blue-btns-gnrl btn">Solicitar</button></td>
                        </tr>
                        <tr>
                            <td>06/10/2022</td>
                            <td>Shantal Iniestra</td>
                            <td>Solicitar contrato de servicios</td>
                            <td>
                                <p class="bg-status-blue">Pendiente</p>
                            </td>
                            <td><button class="bg-status-blue-btns-gnrl btn">Solicitar</button></td>
                        </tr>
                    </table>
                </div>
                <nav aria-label="" class="mt-4">
                    <ul class="pagination justify-content-lg-center justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link me-1" href="#" tabindex="-1" aria-disabled="true">Regresar</a>
                        </li>
                        <li class="page-item active me-1" aria-current="page"><a class="page-link" href="#">1</a></li>
                        <li class="page-item me-1">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item me-1"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Siguiente</a>
                        </li>
                    </ul>
                </nav>
        </div>
        <div class="data-table" id="tblVenta">
          <div class="message-btn-option  d-flex">
                    <h5>Alta de documentos:</h5>
                    <p>&nbsp 25</p>
          </div>
          <br />
          <!-- <div class="message-default">
                    Aquí viven los leads que se encuentran en una etapa de seguimiento.
                </div> -->
                <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive mt-2" style="overflow-x:hidden; overflow-y:hidden;">
                    <table class="table table-hover">
                        <tr>
              <th style="border-radius: 5px 0px 0px 0px">Fecha</th>
              <th>Propiedad</th>
              <th>Tipo</th>
              <th>Estatus</th>
              <th style="border-radius: 0px 5px 0px 0px">Acciones</th>
            </tr>
            <tr>
              <td>03/10/2022</td>
              <td>Sierra gorda</td>
              <td>Documento</td>
              <td class="d-flex justify-content-center">
                                <p class="bg-status-orange">Nuevo</p>
              </td>
                            <td> <a class=" btn-vermas" asp-controller="Administracion" asp-action="EdicionUsuarioM"><ion-icon name="ellipsis-horizontal-circle" class="size-mp-icons-vermas position-icon"></ion-icon></a></td>
            </tr>
            <tr>
              <td>03/10/2022</td>
              <td>Polanco 20</td>
              <td>Documento</td>
              <td class="d-flex justify-content-center">
                                <p class="bg-status-orange">Nuevo</p>
              </td>
                            <td><a class=" btn-vermas" asp-controller="Administracion" asp-action="EdicionUsuarioM"><ion-icon name="ellipsis-horizontal-circle" class="size-mp-icons-vermas position-icon"></ion-icon></a></td>
            </tr>
            <tr>
              <td>03/10/2022</td>
              <td>Tecamachalco</td>
              <td>Documento</td>
              <td class="d-flex justify-content-center">
                                <p class="bg-status-orange">Nuevo</p>
              </td>
                            <td><a class=" btn-vermas" asp-controller="Administracion" asp-action="EdicionUsuarioM"><ion-icon name="ellipsis-horizontal-circle" class="size-mp-icons-vermas position-icon"></ion-icon></a></td>
            </tr>

          </table>
        </div>

          <div class="view-all mt-3">
                    <nav aria-label="" class="mt-4">
                        <ul class="pagination justify-content-lg-center justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link me-1" href="#" tabindex="-1" aria-disabled="true">Regresar</a>
                            </li>
                            <li class="page-item active me-1" aria-current="page"><a class="page-link" href="#">1</a></li>
                            <li class="page-item me-1">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item me-1"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Siguiente</a>
                            </li>
                        </ul>
                    </nav>
          </div>
          <hr />
          <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive mt-4 ">
                    <div class="message-btn-option  d-flex mb-3">
                        <h5>Alta de propietario:</h5>
                        <p>&nbsp 43</p>
                    </div>
          <table class="table table-hover">
            <tr>
              <th style="border-radius: 5px 0px 0px 0px">Fecha</th>
              <th>Nombre</th>
              <th>Teléfono</th>
              <th>Correo</th>
              <th>Broker</th>
              <th>Propiedad</th>
              <th style="border-radius: 0px 5px 0px 0px">Acciones</th>
            </tr>
            <tr>
              <td>03/10/2022</td>
              <td>Arizbeth Padilla</td>
              <td>5576898910</td>
              <td>arizbeth.1405@outlook.com</td>
              <td>Alexandra Vega</td>
              <td>
                                Sierra gorda #2345
              </td>
                            <td class="d-flex justify-content-center mt-1">
                                <button class="bg-status-blue-btns-env btn">Enviar usuario y contraseña</button>
                                <div class="fileContainer3 d-none input-group  ">
                                    <input type="button" name="p_archivo5" id="" class="">
                                    <i class="fa-solid fa-paper-plane mx-auto size-icon"></i>
                                    <h6 class="font-size-visualizador">enviado</h6>
                                </div>
                            </td>
            </tr>
            <tr>
              <td>03/10/2022</td>
              <td>Paola Sánchez</td>
              <td>5531234920</td>
              <td>paola.1@gmail.com</td>
              <td>Jaime Lozano</td>
              <td>
                                Sierra grande #2345
              </td>
                            <td class="d-flex justify-content-center mt-1">
                                <button class="bg-status-blue-btns-env btn">Enviar usuario y contraseña</button>
                                <div class="fileContainer3 d-none input-group  ">
                                    <input type="button" name="p_archivo5" id="" class="">
                                    <i class="fa-solid fa-paper-plane mx-auto size-icon"></i>
                                    <h6 class="font-size-visualizador">enviado</h6>
                                </div>
                            </td>
            </tr>
            <tr>
              <td>03/10/2022</td>
              <td>Joel Jimenez</td>
              <td>5567899907</td>
              <td>joel.2@gmail.com</td>
              <td>Raul Jimenez</td>
              <td>
                                Paseos #2345
              </td>
                            <td class="d-flex justify-content-center mt-1">
                                <button class="bg-status-blue-btns-env btn ">Enviar usuario y contraseña</button>
                                <div class="fileContainer3 d-none input-group  ">
                                    <input type="button" name="p_archivo5" id="" class="">
                                    <i class="fa-solid fa-paper-plane mx-auto size-icon"></i>
                                    <h6 class="font-size-visualizador">enviado</h6>
                                </div>
                            </td>
            </tr>

          </table>
        </div>

          <div class="view-all mt-3">
                    <nav aria-label="" class="mt-4">
                        <ul class="pagination justify-content-lg-center justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link me-1" href="#" tabindex="-1" aria-disabled="true">Regresar</a>
                            </li>
                            <li class="page-item active me-1" aria-current="page"><a class="page-link" href="#">1</a></li>
                            <li class="page-item me-1">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item me-1"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Siguiente</a>
                            </li>
                        </ul>
                    </nav>
          </div>
          <hr />
                <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive mt-4 ">
                    <div class="message-btn-option  d-flex mb-3">
                        <h5>Contrato de intermediación:</h5>
                        <p>&nbsp 21</p>
                    </div>
                    <table class="table table-hover">
                        <tr>
                            <th style="border-radius: 5px 0px 0px 0px">Fecha</th>
                            <th>Bróker</th>
                            <th>Propietario</th>
                            <th>Propiedad</th>
                            <th style="border-radius: 0px 5px 0px 0px">Acciones</th>
                        </tr>
                        <tr>
                            <td>03/10/2022</td>
                            <td>Paola Sánchez</td>
                            <td>Arizbeth Padilla</td>
                            <td>
                                Sierra gorda #5567
                            </td>
                            <td class="d-flex justify-content-center ">
                           
                                <button class="bg-status-blue-btns d-none btn">Solicitar contrato de intermediación</button>
                               
                                <div class="fileContainer3 d-block input-group me-4">
                                  
                                    <i class="fa-solid fa-paper-plane ms-2 size-icon"></i>
                                    <h6 class="font-size-visualizador">Enviado</h6>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>03/10/2022</td>
                            <td>Alexandra Vega</td>
                            <td>Luis Bolaños</td>
                            <td>
                                Iglesia #2345
                            </td>
                            <td class=" d-flex justify-content-center ">
                                <button class="bg-status-blue-btns d-none btn">Solicitar contrato de intermediación</button>
                                <div class="fileContainer3 d-block input-group me-4">
                                   
                                    <i class="fa-solid fa-paper-plane ms-2 size-icon"></i>
                                    <h6 class="font-size-visualizador">Enviado</h6>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>03/10/2022</td>
                            <td>Joel Jimenez</td>
                            <td>Alejando Vazquez</td>
                            <td>
                                Sierra gorda #2345
                            </td>
                            <td class="d-flex justify-content-center ">
                                <button class="bg-status-blue-btns d-block btn">Solicitar contrato de intermediación</button>
                                <div class="fileContainer3 d-none input-group me-4">
                                   
                                    <i class="fa-solid fa-paper-plane ms-2 size-icon"></i>
                                    <h6 class="font-size-visualizador">Enviado</h6>
                                </div>
                            </td>
                        </tr>

                    </table>
                </div>

                <div class="view-all mt-3">
                  <nav aria-label="" class="mt-4">
                    <ul class="pagination justify-content-lg-center justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link me-1" href="#" tabindex="-1" aria-disabled="true">Regresar</a>
                        </li>
                        <li class="page-item active me-1" aria-current="page"><a class="page-link" href="#">1</a></li>
                        <li class="page-item me-1">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item me-1"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Siguiente</a>
                        </li>
                    </ul>
                </nav>
                </div>
        </div>
        <div class="data-table" id="tblEntrega">
          <div class="message-btn-option">
          
          </div>
          <br />
          <!-- <div class="message-default">
                    Aquí viven los leads que se encuentran en una etapa de seguimiento.
                </div> -->
                <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive mt-2">     
          <table class="table table-hover">
            <tr>
              <th style="border-radius: 5px 0px 0px 0px">Fecha</th>
              <th>Nombre</th>
              <th>Correo</th>
              <th>Teléfono</th>
              <th>Propiedad</th>
              <th>Bróker</th>
              <th>Visita</th>
              <th>Estatus</th>
              <th style="border-radius: 0px 5px 0px 0px">Acciones</th>
            </tr>
            <tr>
              <td>03/10/2022</td>
              <td>Paola Sánchez</td>
              <td>paola.1@gmail.com</td>
              <td>55-33-55-33-55</td>
              <td>Real del encanto</td>
              <td>Héctor Guajardo</td>
              <td> - </td>
              <td>
                <p class="bg-status-pink">Informes</p>
              </td>
              <td><a href="#" class="btn-vermas"><ion-icon name="ellipsis-horizontal-circle" class="size-mp-icons-vermas position-icon"></ion-icon></a></td>
            </tr>
            <tr>
              <td>03/10/2022</td>
              <td>Paola Sánchez</td>
              <td>paola.1@gmail.com</td>
              <td>55-33-55-33-55</td>
              <td>Real del encanto</td>
              <td>Héctor Guajardo</td>
              <td> - </td>
              <td>
                <p class="bg-status-pink">Informes</p>
              </td>
              <td><a href="#" class="btn-vermas"><ion-icon name="ellipsis-horizontal-circle" class="size-mp-icons-vermas position-icon"></ion-icon></a></td>
            </tr>
            <tr>
              <td>03/10/2022</td>
              <td>Paola Sánchez</td>
              <td>paola.1@gmail.com</td>
              <td>55-33-55-33-55</td>
              <td>Real del encanto</td>
              <td>Héctor Guajardo</td>
              <td> - </td>
              <td>
                <p class="bg-status-pink">Informes</p>
              </td>
              <td><a href="#" class="btn-vermas"><ion-icon name="ellipsis-horizontal-circle" class="size-mp-icons-vermas position-icon"></ion-icon></a></td>
            </tr>

          </table>
        </div>
          <div class="view-all mt-3">
                    <nav aria-label="" class="mt-4">
                        <ul class="pagination justify-content-lg-center justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link me-1" href="#" tabindex="-1" aria-disabled="true">Regresar</a>
                            </li>
                            <li class="page-item active me-1" aria-current="page"><a class="page-link" href="#">1</a></li>
                            <li class="page-item me-1">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item me-1"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Siguiente</a>
                            </li>
                        </ul>
                    </nav>
          </div>
        </div>
        <div class="data-table" id="tblPostventa">
          <div class="message-btn-option">
            Post Venta nuevos:
            <p>&nbsp; 5</p>
          </div>
          <br />
          <!-- <div class="message-default">
                    Aquí viven los leads que se encuentran en una etapa de seguimiento.
                </div> -->
         <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive mt-2">  
          <table>
            <tr>
              <th style="border-radius: 5px 0px 0px 0px">Fecha</th>
              <th>Nombre</th>
              <th>Correo</th>
              <th>Teléfono</th>
              <th>Propiedad</th>
              <th>Bróker</th>
              <th>Visita</th>
              <th>Estatus</th>
              <th style="border-radius: 0px 5px 0px 0px">Acciones</th>
            </tr>
            <tr>
              <td>03/10/2022</td>
              <td>Paola Sánchez</td>
              <td>paola.1@gmail.com</td>
              <td>55-33-55-33-55</td>
              <td>Real del encanto</td>
              <td>Héctor Guajardo</td>
              <td> - </td>
              <td>
                <p class="bg-status-blue">Informes</p>
              </td>
              <td><a href="#" class="btn-vermas"><ion-icon name="ellipsis-horizontal-circle" class="size-mp-icons-vermas position-icon"></ion-icon></a></td>
            </tr>
            <tr>
              <td>03/10/2022</td>
              <td>Paola Sánchez</td>
              <td>paola.1@gmail.com</td>
              <td>55-33-55-33-55</td>
              <td>Real del encanto</td>
              <td>Héctor Guajardo</td>
              <td> - </td>
              <td>
                <p class="bg-status-blue">Informes</p>
              </td>
              <td><a href="#" class="btn-vermas"><ion-icon name="ellipsis-horizontal-circle" class="size-mp-icons-vermas position-icon"></ion-icon></a></td>
            </tr>
            <tr>
              <td>03/10/2022</td>
              <td>Paola Sánchez</td>
              <td>paola.1@gmail.com</td>
              <td>55-33-55-33-55</td>
              <td>Real del encanto</td>
              <td>Héctor Guajardo</td>
              <td> - </td>
              <td>
                <p class="bg-status-blue">Informes</p>
              </td>
              <td><a href="#" class="btn-vermas"><ion-icon name="ellipsis-horizontal-circle" class="size-mp-icons-vermas position-icon"></ion-icon></a></td>
            </tr>

          </table>
        </div>
          <div class="view-all mt-3">
                    <nav aria-label="" class="mt-4">
                        <ul class="pagination justify-content-lg-center justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link me-1" href="#" tabindex="-1" aria-disabled="true">Regresar</a>
                            </li>
                            <li class="page-item active me-1" aria-current="page"><a class="page-link" href="#">1</a></li>
                            <li class="page-item me-1">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item me-1"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Siguiente</a>
                            </li>
                        </ul>
                    </nav>
          </div>
        </div>
      </div>
      <div class="col col-md-12 col-lg-12 col-xl-4 bg-gray-default">
        <div class="more-options d-cards ">
          <div class="col-3 col-md-4 col-lg-4 col-xl-12">
            <div class="calendar">
                        <div class="scrollhost calendarioo" id="calendar"></div>
            </div>
          </div>
          <div class="col col-md-4 col-lg-4 col-xl-12 ">
            <div class="activities">
              <div class="title-activities">Actividades</div>
              <div class="content-activities">
                <div class="list-activities bg-activity-2">
                  <div class="col-8 info-general">
                    <div class="title-activity">
                      Revisar pagos de planes 
                    </div>
                    <div class="client-activity"></div>
                  </div>
                  <div class="col-4 info-time">
                    <div class="type-activitie"></div>
                    <div class="hour-activitie">13/11/2022</div>
                  </div>
                </div>
                <div class="list-activities bg-activity-5">
                  <div class="col-8 info-general">
                    <div class="title-activity">
                      Checar contratos
                    </div>
                    <div class="client-activity"></div>
                  </div>
                  <div class="col-4 info-time">
                    <div class="type-activitie"></div>
                    <div class="hour-activitie">15/11/2022</div>
                  </div>
                </div>
                <div class="list-activities bg-activity-3">
                  <div class="col-8 info-general">
                    <div class="title-activity">
                      Enviar usuario y contraseña 
                    </div>
                    <div class="client-activity"></div>
                  </div>
                  <div class="col-4 info-time">
                    <div class="type-activity"></div>
                    <div class="hour-activity">12/11/2022</div>
                  </div>
                </div>
                <div class="list-activities bg-activity-4">
                  <div class="col-8 info-general">
                    <div class="title-activity">
                      Dar de alta al propietario
                    </div>
                    <div class="client-activity"></div>
                  </div>
                  <div class="col-4 info-time">
                    <div class="type-activitie"></div>
                    <div class="hour-activitie">14/11/2022</div>
                  </div>
                </div>
               
              </div>
            </div>
            </div>
          <div class="col col-md-4 col-lg-4 col-xl-12">
            <div class="enterate">
              <div class="title-enterate">Entérate</div>
              <div class="img-enterate">
                            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="~/img/imagenes-mesa-de-control/enterate.png" alt="" class="img-fluid d-block w-100" />
                                       
                                    </div>
                                    <div class="carousel-item">
                                       <img src="~/img/imagenes-mesa-de-control/enterate2.jpg" alt="" class="img-fluid d-block w-100" />
                                    </div>
                                    <div class="carousel-item">
                                     <img src="~/img/imagenes-mesa-de-control/enterate3.jpg" alt="" class="img-fluid d-block w-100" />
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
















<!--Scripts-->
<script>
    // Script para tab de tablero de brokers
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();

    //Función 2
    function openCity2(evt, cityName2) {
        var i, tabcontent2, tablinks2;
        tabcontent2 = document.getElementsByClassName("tabcontent2");
        for (i = 0; i < tabcontent2.length; i++) {
            tabcontent2[i].style.display = "none";
        }
        tablinks2 = document.getElementsByClassName("tablinks2");
        for (i = 0; i < tablinks2.length; i++) {
            tablinks2[i].className = tablinks2[i].className.replace(" active", "");
        }
        document.getElementById(cityName2).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen2").click();

    // Función 3
    function openCity3(evt, cityName3) {
        var i, tabcontent3, tablinks3;
        tabcontent3 = document.getElementsByClassName("tabcontent3");
        for (i = 0; i < tabcontent3.length; i++) {
            tabcontent3[i].style.display = "none";
        }
        tablinks3 = document.getElementsByClassName("tablinks3");
        for (i = 0; i < tablinks3.length; i++) {
            tablinks3[i].className = tablinks3[i].className.replace(" active", "");
        }
        document.getElementById(cityName3).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen3").click();
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var initialLocaleCode = 'es';
        var localeSelectorEl = document.getElementById('locale-selector');
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,listMonth'
            },
            locale: 'es',
            initialDate: '2022-09-12',
            locale: initialLocaleCode,
            theme: true,
            editable: false,
            buttonIcons: false, // show the prev/next text
            // weekNumbers: true,
            navLinks: false, // can click day/week names to navigate views
            editable: true,
            dayMaxEvents: true, // allow "more" link when too many events
            events: [
                {
                    title: 'All Day Event',
                    start: '2022-09-01'
                },
                {
                    title: 'Long Event',
                    start: '2020-09-07',
                    end: '2020-09-10'
                },
                {
                    groupId: 999,
                    title: 'Repeating Event',
                    start: '2020-09-09T16:00:00'
                },
                {
                    groupId: 999,
                    title: 'Repeating Event',
                    start: '2020-09-16T16:00:00'
                },
                {
                    title: 'Conference',
                    start: '2020-09-11',
                    end: '2020-09-13'
                },
                {
                    title: 'Meeting',
                    start: '2020-09-12T10:30:00',
                    end: '2020-09-12T12:30:00'
                },
                {
                    title: 'Lunch',
                    start: '2020-09-12T12:00:00'
                },
                {
                    title: 'Meeting',
                    start: '2020-09-12T14:30:00'
                },
                {
                    title: 'Happy Hour',
                    start: '2020-09-12T17:30:00'
                },
                {
                    title: 'Dinner',
                    start: '2020-09-12T20:00:00'
                },
                {
                    title: 'Birthday Party',
                    start: '2020-09-13T07:00:00'
                },
                {
                    title: 'Click for Google',
                    url: 'http://google.com/',
                    start: '2020-09-28'
                }
            ]
        });

        calendar.render();

        // build the locale selector's options
        calendar.getAvailableLocaleCodes().forEach(function (localeCode) {
            var optionEl = document.createElement('option');
            optionEl.value = localeCode;
            optionEl.selected = localeCode == initialLocaleCode;
            optionEl.innerText = localeCode;
            localeSelectorEl.appendChild(optionEl);
        });

        // when the selected option changes, dynamically change the calendar option
        localeSelectorEl.addEventListener('change', function () {
            if (this.value) {
                calendar.setOption('locale', this.value);
            }
        });

    });

</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="~/js/script.js"></script>
<script src="~/js/effects.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

