@model PropiedadesModelPropiedad;

@{
    Layout = "_NavUsuarios";
}
<!--///////////////////////////////HEAD ELEMENT IMPORTING/////////////////////////////////////////////////////-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Proyecto_administracion</title>
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/imagen-logo/logo_oficial.png">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/styleDetallePropiedad.css">
    

    <script src="https://kit.fontawesome.com/e43b4d35fb.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
    <title>Detalle Propiedad</title>
</head>

<!--///////////////////////////////ANIMACION//////////////////////////////////////////////////////////////////-->
<ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>


<!--///////////////////////////////CONTENIDO//////////////////////////////////////////////////////////////////-->


<div class="container-lg contenedorGeneral ">
    <partial name="DetallesHead" />
    <div class="container-lg ">
        <div class="row">

            <div class="col-lg-5 col ">

                <div class="botones-modal  d-flex justify-content-between shadow p-3 rounded ">
                    <!-- BOTON MODAL 1 DOCUMENTOS -->
                    <button type="button" class="btn btn-modals" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Documentos
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <label for="documentos" class="fw-bold color_letter ms-lg-2">
                                        Documentos
                                    </label>
                                    <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">

                                        <br>
                                        <div class="row">
                                            <div class="col">
                                                <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive table-height">
                                                    <table class="table table-hover border-gray h-100">
                                                        <thead>
                                                        <tbody>
                                                            <tr>
                                                                <th scope="row">1</th>
                                                                <td colspan="2"><h6 class="font-size-visualizador">Comprobante de domicilio</h6> </td>
                                                                <td>
                                                                    <div class="fileContainer2 input-group">
                                                                        <input type="file" name="s_archivo" id="archivoInput" class=""
                                                                               onchange="return validarExt()">
                                                                        <i class="fa-solid fa-file-arrow-up size-icon ms-3 "></i>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="fileContainer3  input-group">
                                                                        <input type="button" name="d_archivo" id="archivoInput_delete" class="eliminarprueba me-3">
                                                                        <i class="fa-solid fa-trash-can size-icon me-5"></i>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="fileContainer3 input-group">
                                                                        <input type="button" name="v_archivo4" id="" onclick="visorExt()" class=" me-3">
                                                                        <i class="fa-solid fa-eye size-icon me-5"></i></i>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="fileContainer3 input-group me-4">
                                                                        <input type="button" name="p_archivo1" id="" class="ms-3">
                                                                        <i class="fa-solid fa-arrow-rotate-right size-icon ms-3"></i>
                                                                        <h6 class="font-size-visualizador">proceso</h6>
                                                                    </div><div class="fileContainer3 d-none input-group me-4">
                                                                        <input type="button" name="a_archivo1" id="" class="ms-3">
                                                                        <i class="fa-solid fa-arrow-rotate-right size-icon ms-3"></i>
                                                                        <h6 class="font-size-visualizador">aprobado</h6>
                                                                    </div> <div class="fileContainer3 d-none input-group me-4">
                                                                        <input type="button" name="a_archivo1" id="" class="ms-3">
                                                                        <i class="fa-solid fa-xmark size-icon ms-3 text-center d-flex"></i>
                                                                        <h6 class="font-size-visualizador">rechazado</h6>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">2</th>
                                                                <td colspan="2"><h6 class="font-size-visualizador">Estado de cuenta bancario (carátula)</h6></td>
                                                                <td>
                                                                    <div class="fileContainer2 input-group">
                                                                        <input type="file" name="s_archivo2" id="archivoInput2" class="me-5"
                                                                               onchange="return validarExt2()">
                                                                        <i class="fa-solid fa-file-arrow-up size-icon ms-3 size-icon "></i>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="fileContainer3 input-group">
                                                                        <input type="button" name="d_archivo2" id="archivoInput_delete2" class="eliminarprueba me-3">
                                                                        <i class="fa-solid fa-trash-can me-5 size-icon"></i>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="fileContainer3 input-group">
                                                                        <input type="button" name="v_archivo4" id="" onclick="visorExt2()" class=" me-3">
                                                                        <i class="fa-solid fa-eye me-5 size-icon"></i></i>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="fileContainer3 input-group me-4">
                                                                        <input type="button" name="p_archivo2" id="" class="ms-3">
                                                                        <i class="fa-solid fa-arrow-rotate-right  ms-3 size-icon"></i>
                                                                        <h6 class="font-size-visualizador">proceso</h6>
                                                                    </div><div class="fileContainer3 d-none input-group me-4">
                                                                        <input type="button" name="a_archivo1" id="" class="ms-3">
                                                                        <i class="fa-solid fa-arrow-rotate-right size-icon ms-3"></i>
                                                                        <h6 class="font-size-visualizador">aprobado</h6>
                                                                    </div> <div class="fileContainer3 d-none input-group me-4">
                                                                        <input type="button" name="a_archivo1" id="" class="ms-3">
                                                                        <i class="fa-solid fa-xmark size-icon ms-3 text-center d-flex"></i>
                                                                        <h6 class="font-size-visualizador">rechazado</h6>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">3</th>
                                                                <td colspan="2"><h6 class="font-size-visualizador">Constancia fiscal</h6></td>
                                                                <td>
                                                                    <div class="fileContainer2 input-group">
                                                                        <input type="file" name="s_archivo" id="archivoInput3" class="me-5"
                                                                               onchange="return validarExt3()">
                                                                        <i class="fa-solid fa-file-arrow-up ms-3 size-icon"></i>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="fileContainer3 input-group">
                                                                        <input type="button" name="d_archivo3" id="archivoInput_delete3" class="eliminarprueba me-3">
                                                                        <i class="fa-solid fa-trash-can me-3 size-icon"></i>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="fileContainer3 input-group ">
                                                                        <input type="button" name="v_archivo4" id="" onclick="visorExt3()" class=" me-3">
                                                                        <i class="fa-solid fa-eye me-5 size-icon"></i></i>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="fileContainer3 input-group me-4">
                                                                        <input type="button" name="p_archivo3" id="" class="ms-3">
                                                                        <i class="fa-solid fa-arrow-rotate-right  ms-3 size-icon"></i>
                                                                        <h6 class="font-size-visualizador">proceso</h6>
                                                                    </div><div class="fileContainer3 d-none input-group me-4">
                                                                        <input type="button" name="a_archivo1" id="" class="ms-3">
                                                                        <i class="fa-solid fa-arrow-rotate-right size-icon ms-3"></i>
                                                                        <h6 class="font-size-visualizador">aprobado</h6>
                                                                    </div> <div class="fileContainer3 d-none input-group me-4">
                                                                        <input type="button" name="a_archivo1" id="" class="ms-3">
                                                                        <i class="fa-solid fa-xmark size-icon ms-3 text-center d-flex"></i>
                                                                        <h6 class="font-size-visualizador">rechazado</h6>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">4</th>
                                                                <td colspan="2"><h6 class="font-size-visualizador">Identificación oficial</h6></td>
                                                                <td>
                                                                    <div class="fileContainer2 input-group">
                                                                        <input type="file" name="s_archivo" id="archivoInput4" class="me-5"
                                                                               onchange="return validarExt4()">
                                                                        <i class="fa-solid fa-file-arrow-up size-icon ms-3 "></i>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="fileContainer3 input-group">
                                                                        <input type="button" name="d_archivo4" id="archivoInput_delete4" class="eliminarprueba me-3">
                                                                        <i class="fa-solid fa-trash-can size-icon me-5"></i>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="fileContainer3 input-group">
                                                                        <input type="button" name="v_archivo4" id="" onclick="visorExt4()" class=" me-3">
                                                                        <i class="fa-solid fa-eye size-icon me-5"></i></i>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="fileContainer3 input-group me-4">
                                                                        <input type="button" name="p_archivo4" id="" class="ms-3">
                                                                        <i class="fa-solid fa-arrow-rotate-right size-icon ms-3"></i>
                                                                        <h6 class="font-size-visualizador">proceso</h6>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                        </thead>
                                                    </table>

                                                </div>
                                                <div class="input-group d-flex justify-content-start">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="input-group d-flex justify-content-center">
                                                    <div id="visorArchivo" class="size-file d-flex ">
                                                        <h5 class="text-center">Visualizador de archivos</h5>

                                                    </div>


                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-modals">Guardar cambios</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--BOTON MODAL 2 FOTOS -->
                    <button type="button" class="btn btn-modals" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                        Fotos
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true" style="top: -14vw;">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <label for="documentos" class=" color_letter2 ms-lg-2">
                                        Por favor adjunta hasta 15 fotografías
                                    </label>
                                    <h1 class="modal-title fs-5" id="exampleModalLabel2"></h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <div class="container-fluid d-flex mt-2 justify-content-center">
                                        <section id="Images" class="images-cards">
                                            <div class="row">
                                                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-xs-12 " id="add-photo-container">
                                                    <div class="add-new-photo first" id="add-photo">
                                                        <i class="fa-solid fa-file-image ms-5 mt-4"></i>

                                                        <br>
                                                        <div class="">
                                                            <h6 class=" size-text-add-photo  text-center">Sube tus fotografías</h6>
                                                        </div>

                                                    </div>
                                                    <input type="file" multiple id="add-new-photo" name="images[]">
                                                    <br>
                                                </div>
                                            </div>
                                        </section>

                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-modals">Guardar cambios</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--BOTON MODAL 3 CONTRATOS-->
                    <button type="button" class="btn btn-modals" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                        Contratos
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <label for="documentos" class="fw-bold color_letter ms-lg-2">
                                        Documentos
                                    </label>
                                    <h1 class="modal-title fs-5" id="exampleModalLabel3"></h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <br>
                                    <div class="row">
                                        <div class="col">
                                            <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive table-height">
                                                <table class="table table-hover border-gray h-100">
                                                    <thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">1</th>
                                                            <td colspan="2"><h6 class="font-size-visualizador">Contrato intermediación</h6> </td>
                                                            <td>
                                                                <div class="fileContainer2 input-group">
                                                                    <input type="file" name="s_archivo" id="archivoInput5" class=""
                                                                           onchange="return validarExt5()">
                                                                    <i class="fa-solid fa-file-arrow-up size-icon ms-3 "></i>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="fileContainer3 input-group">
                                                                    <input type="button" name="v_archivo5" id="" onclick="visorExt5()" class=" me-3">
                                                                    <i class="fa-solid fa-eye size-icon me-5"></i></i>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="fileContainer3 input-group me-4">
                                                                    <input type="button" name="p_archivo5" id="" class="ms-3">
                                                                    <i class="fa-solid fa-paper-plane ms-3 size-icon"></i>
                                                                    <h6 class="font-size-visualizador">enviado</h6>
                                                                </div><div class="fileContainer3 d-none input-group me-4">
                                                                    <input type="button" name="a_archivo1" id="" class="ms-3">
                                                                    <i class="fa-solid fa-arrow-rotate-right size-icon ms-3"></i>
                                                                    <h6 class="font-size-visualizador">aprobado</h6>
                                                                </div> <div class="fileContainer3 d-none input-group me-4">
                                                                    <input type="button" name="a_archivo1" id="" class="ms-3">
                                                                    <i class="fa-solid fa-xmark size-icon ms-3 text-center d-flex"></i>
                                                                    <h6 class="font-size-visualizador">rechazado</h6>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">2</th>
                                                            <td colspan="2"><h6 class="font-size-visualizador">Contrato promesa</h6></td>
                                                            <td>
                                                                <div class="fileContainer2 input-group">
                                                                    <input type="file" name="s_archivo6" id="archivoInput6" class="me-5"
                                                                           onchange="return validarExt6()">
                                                                    <i class="fa-solid fa-file-arrow-up size-icon ms-3 size-icon "></i>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="fileContainer3 input-group">
                                                                    <input type="button" name="v_archivo6" id="" onclick="visorExt6()" class=" me-3">
                                                                    <i class="fa-solid fa-eye me-5 size-icon"></i></i>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="fileContainer3 input-group me-4">
                                                                    <input type="button" name="p_archivo2" id="" class="ms-3">
                                                                    <i class="fa-solid fa-paper-plane ms-3 size-icon"></i>
                                                                    <h6 class="font-size-visualizador">enviado</h6>
                                                                </div><div class="fileContainer3 d-none input-group me-4">
                                                                    <input type="button" name="a_archivo1" id="" class="ms-3">
                                                                    <i class="fa-solid fa-arrow-rotate-right size-icon ms-3"></i>
                                                                    <h6 class="font-size-visualizador">aprobado</h6>
                                                                </div> <div class="fileContainer3 d-none input-group me-4">
                                                                    <input type="button" name="a_archivo1" id="" class="ms-3">
                                                                    <i class="fa-solid fa-xmark size-icon ms-3 text-center d-flex"></i>
                                                                    <h6 class="font-size-visualizador">rechazado</h6>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">3</th>
                                                            <td colspan="2"><h6 class="font-size-visualizador">Contrato venta</h6></td>
                                                            <td>
                                                                <div class="fileContainer2 input-group">
                                                                    <input type="file" name="s_archivo" id="archivoInput7" class="me-5"
                                                                           onchange="return validarExt7()">
                                                                    <i class="fa-solid fa-file-arrow-up ms-3 size-icon"></i>
                                                                </div>
                                                            </td>

                                                            <td>
                                                                <div class="fileContainer3 input-group ">
                                                                    <input type="button" name="v_archivo7" id="" onclick="visorExt7()" class=" me-3">
                                                                    <i class="fa-solid fa-eye me-5 size-icon"></i></i>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="fileContainer3 input-group me-4">
                                                                    <input type="button" name="p_archivo3" id="" class="ms-3">
                                                                    <i class="fa-solid fa-paper-plane ms-3 size-icon"></i>
                                                                    <h6 class="font-size-visualizador">enviado</h6>
                                                                </div><div class="fileContainer3 d-none input-group me-4">
                                                                    <input type="button" name="a_archivo1" id="" class="ms-3">
                                                                    <i class="fa-solid fa-check ms-3 size-icon"></i>
                                                                    <h6 class="font-size-visualizador">firmado</h6>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">4</th>
                                                            <td colspan="2"><h6 class="font-size-visualizador">*****</h6></td>
                                                            <td>
                                                                <div class="fileContainer2 input-group">
                                                                    <input type="file" name="s_archivo" id="archivoInput8" class="me-5"
                                                                           onchange="return validarExt8()">
                                                                    <i class="fa-solid fa-file-arrow-up size-icon ms-3 "></i>
                                                                </div>
                                                            </td>

                                                            <td>
                                                                <div class="fileContainer3 input-group">
                                                                    <input type="button" name="v_archivo8" id="" onclick="visorExt8()" class=" me-3">
                                                                    <i class="fa-solid fa-eye size-icon me-5"></i></i>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="fileContainer3 input-group me-4">
                                                                    <input type="button" name="p_archivo8" id="" class="ms-3">
                                                                    <i class="fa-solid fa-paper-plane ms-3 size-icon"></i>
                                                                    <h6 class="font-size-visualizador">enviado</h6>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    </thead>
                                                </table>
                                            </div>
                                            <div class="input-group d-flex justify-content-start">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="input-group d-flex justify-content-center">
                                                <div id="visorArchivo2" class="size-file d-flex ">
                                                    <h5 class="text-center">Visualizador de archivos</h5>

                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-modals">Guardar cambios</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Aquí empieza la seccion del propietario-->
                <div class="seccion-propietario shadow mt-2 rounded pt-2 pb-3">
                    <h5 class="ms-3  ">Propietario</h5>
                    <br>
                    <div class="d-inline-flex mb-1">
                        <label class="ms-3">Nombre completo</label><input type="text" disabled class="ms-2 w-n-completo">
                    </div>
                    <div class="d-inline-flex mt-2 mb-1">
                        <label class="ms-3">Apellido paterno</label><input type="text" disabled class="ms-2">
                    </div>
                    <div class="d-inline-flex mt-2 mb-1">
                        <label class="ms-3">Apellido materno</label><input type="text" disabled class="ms-2">
                    </div>
                    <div class="d-inline-flex mt-2 mb-1">
                        <label class="ms-3">Correo</label><input type="text" disabled class="ms-2 w-correo">
                    </div>
                    <div class="d-inline-flex mt-2 mb-2">
                        <label class="ms-3">Teléfono</label><input type="text" disabled class="ms-2">
                    </div>

                </div>

                <div class="seccion-fecha-publicacion shadow mt-2 pt-2 mb-2 rounded">
                    <h5 class="ms-3">Cliente</h5>
                    <br>
                    <div class="d-inline-flex mb-1">
                        <label class="ms-3">Nombre completo</label><input type="text" disabled class="ms-2 w-n-completo">
                    </div>
                    <div class="d-inline-flex mt-2 mb-1">
                        <label class="ms-3">Apellido paterno</label><input type="text" disabled class="ms-2">
                    </div>
                    <div class="d-inline-flex mt-2 mb-1">
                        <label class="ms-3">Apellido materno</label><input type="text" disabled class="ms-2">
                    </div>
                    <div class="d-inline-flex mt-2 mb-1">
                        <label class="ms-3">Correo</label><input type="text" disabled class="ms-2 w-correo">
                    </div>
                    <div class="d-inline-flex mt-2 mb-3">
                        <label class="ms-3">Teléfono</label><input type="text" disabled class="ms-2">
                    </div>

                </div>
                <div class=" seccion-fecha-publicacion shadow mt-2 pt-2 mb-2 rounded">
                    <h5 class="ms-3">Notaria</h5>
                    <br>
                    <div class="d-inline-flex mb-3 responsiveExtraSmall">
                        <select class="ms-3 notaria-select form-select  " id="categories">
                            <option value="Notaria" disabled selected>Notaria</option>
                            <option class="categories-option" id="category" value="CDMX">CDMX</option>
                            <option class="categories-option" id="category" value="EdoMex">Estado de méxico</option>
                            <option class="categories-option" id="category" value="Morelos">Morelos</option>
                        </select>
                        <select class="notaria-select form-select  ms-2" id="subcategories">
                        </select>
                    </div>
                    <div class="d-inline-flex mb-1">
                        <label class="ms-3">No.</label><input type="text" disabled class="ms-2 ">
                    </div> <br />
                    <div class="d-inline-flex mt-2 mb-1 ">
                        <label class="ms-3">Nombre</label>
                        <input type="text" disabled class="ms-2 w-n-completo">
                    </div>
                    <div class="d-inline-flex mt-2 mb-1">
                        <label class="ms-3">Localidad</label><input type="text" disabled class="ms-2">
                    </div>
                    <div class="d-inline-flex mt-2 mb-1">
                        <label class="ms-3">Dirección</label><input type="text" disabled class="ms-2 w-correo">
                    </div>
                    <div class="d-inline-flex mt-2 mb-1">
                        <label class="ms-3">Contacto</label><input type="text" disabled class="ms-2">
                    </div>
                    <div class="d-inline-flex mt-2 mb-1">
                        <label class="ms-3">Correo</label><input type="text" disabled class="ms-2 w-correo">
                    </div>
                    <div class="d-inline-flex mt-2 mb-3">
                        <label class="ms-3">Teléfono</label><input type="text" disabled class="ms-2">
                    </div>

                </div>

            </div>




            <partial name="_DetallesPancita" />
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
</div>


<script>
    modal()
    function modal() {
        const btnModal = document.getElementById('btn-modal'); // boton de calendario
        btnCloseModal = document.getElementById('close-modal'); // boton de cerrar calendario

        const contModal = document.getElementById('cont-modal'); // Contenido del calendario


        // LLamado de FullCalendar
        var initialLocaleCode = 'es';
        var localeSelectorEl = document.getElementById('locale-selector');
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
            },
            initialDate: '2022-10-19',
            locale: initialLocaleCode,
            theme: true,
            editable: true,
            buttonIcons: false, // show the prev/next text
            // weekNumbers: true,
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            dayMaxEvents: true, // allow "more" link when too many events
            events: [
                {
                    title: 'All Day Event',
                    start: '2020-09-01'
                },
                {
                    title: 'Long Event',
                    start: '2020-09-07',
                    end: '2020-09-10'
                },
                {
                    groupId: 999,
                    title: 'Repeating Event',
                    start: '2020-09-09T16:00:00'
                },
                {
                    groupId: 999,
                    title: 'Repeating Event',
                    start: '2020-09-16T16:00:00'
                },
                {
                    title: 'Conference',
                    start: '2020-09-11',
                    end: '2020-09-13'
                },
                {
                    title: 'Meeting',
                    start: '2020-09-12T10:30:00',
                    end: '2020-09-12T12:30:00'
                },
                {
                    title: 'Lunch',
                    start: '2020-09-12T12:00:00'
                },
                {
                    title: 'Meeting',
                    start: '2020-09-12T14:30:00'
                },
                {
                    title: 'Happy Hour',
                    start: '2020-09-12T17:30:00'
                },
                {
                    title: 'Dinner',
                    start: '2020-09-12T20:00:00'
                },
                {
                    title: 'Birthday Party',
                    start: '2020-09-13T07:00:00'
                },
                {
                    title: 'Click for Google',
                    url: 'http://google.com/',
                    start: '2020-09-28'
                }
            ]
        });

        btnModal.onclick = function () { // Funcion al precionar el boton de calendario
            contModal.classList.add('active')

            calendar.render();

            // build the locale selector's options
            calendar.getAvailableLocaleCodes().forEach(function (localeCode) {
                var optionEl = document.createElement('option');
                optionEl.value = localeCode;
                optionEl.selected = localeCode == initialLocaleCode;
                optionEl.innerText = localeCode;
                localeSelectorEl.appendChild(optionEl);
            });

            // when the selected option changes, dynamically change the calendar option
            localeSelectorEl.addEventListener('change', function () {
                if (this.value) {
                    calendar.setOption('locale', this.value);
                }
            });

        }

        btnCloseModal.onclick = function () { // boton de cerrar calendario
            contModal.classList.remove('active')
        }


    }

    //Funcion para las etapas

    /*Función 2 para ocultar las tablas*/
    function vertablas(evt, vertablas) {

        var i, tabcontent2, tablinks2;
        tabcontent2 = document.getElementsByClassName("tabcontent2");
        for (i = 0; i < tabcontent2.length; i++) {
            var juanito = tabcontent2[i].style.display = "none";
            tabcontent2[i].style.display = "none";
        }
        tablinks2 = document.getElementsByClassName("tablinks2");
        for (i = 0; i < tablinks2.length; i++) {
            tablinks2[i].className = tablinks2[i].className.replace(" active", "");
        }
        document.getElementById(vertablas).style.display = "block";
        evt.currentTarget.className += " active";

    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen2").click();
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="~/js/script.js"></script>
<script src="~/js/script-visualizadores.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>