body {
    background:orange;
}



.square{
    height:200px;
    width:200px;
    background:orange;
}

.glass {
    position: relative;
    background: rgba(255, 255, 255, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.1px);
    -webkit-backdrop-filter: blur(4.1px);
    border: 1px solid rgba(255, 255, 255, 0.16);
    z-index: 2;
}