<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Proyecto_administracion</title>
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/imagen-logo/logo_oficial.png">
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style_tablero_brokers.css">
    <script src="https://kit.fontawesome.com/e43b4d35fb.js" crossorigin="anonymous"></script>
</head>
<body id="body">
    <div class="area">

        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    <header class="d-flex">
        <div class="icon__menu me-4 ms-3">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>

        <div class=" d-inline-flex col-lg-10">
                <a class=" ms-3" style="color:#023D82;" asp-controller="Administracion" asp-action="PropiedadesTab">
                <h6 class="my-2 size-letter-menu">Propiedades</h6>
            </a>
                <a class=" ms-3" style="color:#023D82;" asp-controller="Administracion" asp-action="Brokers">
                <h6 class="my-2 size-letter-menu">Brokers</h6>
            </a>
                <a href="" class="ms-4" style="color:#023D82;">
                <h6 class="my-2 size-letter-menu">Informes</h6>
            </a>
        </div>
        <div class="col-lg-1 ">

            <a href="" class=" home-user">
                <img src="./img/persona1.jpg" alt=""
                     class="back-image-header img-fluid m-1 shadow my-2">
            </a>
        </div>

    </header>

        <div class="menu__side" id="side_menu">
             <a class=" style-vermas" asp-controller="Administracion" asp-action="TabMesaControl">
            <div class="name__page">
                <i class="fa-solid fa-house " title="home"></i>
                <h6>Home</h6>
            </div>
            </a>

            <div class="options__menu">

                <a class="selected" asp-controller="Administracion" asp-action="UsuariosTab">
                    <div class="option">
                        <i class="fa-solid fa-user" title="user"></i>
                        <h6>Usuarios</h6>
                    </div>
                </a>

                <a href="#">
                    <div class="option">
                        <i class="fa-solid fa-gear" title="Configuración"></i>
                        <h6>Configuración</h6>
                    </div>
                </a>

               <a class=" option" asp-controller="Administracion" asp-action="EditConfigPlanes">
                    <div class="option">
                        <i class="fa-solid fa-cart-shopping" title="Planes"></i>
                        <h6>Planes</h6>
                    </div>
                </a>

                <a href="#">
                    <div class="option">
                        <i class="fa-solid fa-box-archive" title="Catalogo"></i>
                        <h6>Catalagos</h6>
                    </div>
                </a>

                <a href="#">
                    <div class="option">
                        <i class="fa-solid fa-gear" title="Configuración"></i>
                        <h6>Permisos</h6>
                    </div>
                </a>

                <a href="#">
                    <div class="option">
                        <i class="fa-solid fa-file-lines" title="Documentos"></i>
                        <h6>Documentos</h6>
                    </div>
                </a>

                <a href="#">
                    <div class="option">
                        <i class="fa-solid fa-headset" title="Nosotros"></i>
                        <h6>Soporte</h6>
                    </div>
                </a>

                <a href="#">
                    <div class="option">
                        <i class="fa-solid fa-door-open" title="Salir"></i>
                        <h6>Salir</h6>
                    </div>
                </a>

            </div>

        </div>

      

      





    <main role="main" class="pb-3">
        @RenderBody()
    </main>

   

    <!--Scripts-->
    <script>
        // Script para tab de tablero de brokers
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>

    <script src="~/js/script.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
